<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  <button class="btn" id="shop-announcements">Announcements</button>
  <button class="btn" id="shop-emails">Email my Buyers</button>
</div>

<script src="./js/shop.js"></script>

        <!--- shop.announcements but use announcement button and onclick/alert to show announcement --->
        <!-- email button connected to nodemailer that mass emails buyers -->